@model CNCLib.Logic.Contracts.DTO.MachineCommand

<p>Machine Command</p>

<table border="1" cellpadding="10">
    <tr>
        <td>CommandName :</td>
        <td>@Html.EditorFor(m => m.CommandName)</td>
    </tr>
    <tr>
        <td>CommandString :</td>
        <td>@Html.EditorFor(m => m.CommandString)</td>
    </tr>
    <tr>
        <td>PosX :</td>
        <td>@Html.EditorFor(m => m.PosX)</td>
    </tr>
    <tr>
        <td>PosY :</td>
        <td>@Html.EditorFor(m => m.PosY)</td>
    </tr>
</table>

@Html.HiddenFor(m => m.MachineID)
@Html.HiddenFor(m => m.MachineCommandID)
